

.table-wrapper {
  margin-bottom: 15px;
  border-radius: 6px;
  background: #fff; 
}

.enquiry-table {
  width: 100%;
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
  grid-template-columns: 70px 228px 228px 240px 228px 220px; 
}

.enquiry-table thead,
.enquiry-table tbody,
.enquiry-table tr {
  display: contents;
  border:1px solid #dee2e6 !important;
}

.enquiry-table th {
  position: relative; 
}

.enquiry-table th,
.enquiry-table td {
  text-align: center;
  padding: 16px 20px; 
  border:1px solid #dee2e6 !important;

}

.enquiry-table th span,
.enquiry-table td span { 
  text-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.enquiry-table tr td { 
  text-wrap: wrap;
}

.enquiry-table th td { 
  text-wrap: wrap;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: -2px;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
}

.resize-handle:hover {
  border-color: #ccc;
}

.resize-handle.active {
  border-color: orange;
}
